body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50PX;
}

#keys{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 10px;
    padding:10px;

}
#calculator{
    background-color:rgb(46, 44, 44);
    font-family: Arial, sans-serif;
    width: 400px;
    border-radius: 15px;
    overflow:hidden;
}
#display{
    width: 100%;
    padding:20px;
    text-align: left;
    border: none;
    background-color:rgb(82, 80, 75);
    font-size:50px ;
    font-weight: bold;
    color: white;
}

button{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: none;
    background-color: #7c7777bb;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: grey;
}
button:active{
    background-color: lightgray;
}
.operator-btn{
    background-color:orange;
}
.operator-btn:hover{
    background-color:rgb(243, 182, 70);
}
.operator-btn:active{
    background-color:rgba(255, 219, 141, 0.959)
}